files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 443;
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        location / {
          proxy_pass http://localhost:5000;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
     MIIDGTCCAgGgAwIBAgIUFMQvTlIjgMZ9r/KnazhMw0hP8ZIwDQYJKoZIhvcNAQEL
     BQAwHDEaMBgGA1UEAwwRYXBpLnpvbmV0eXBlci5jb20wHhcNMjYwNjA5MTkzODMx
     WhcNMzYwNjA2MTkzODMxWjAcMRowGAYDVQQDDBFhcGkuem9uZXR5cGVyLmNvbTCC
     ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK2Q2NILIyyHRGFfv+KXF0xD
     cvvIPDbmijkKmR+A+o5NgDIj+kdTGvErBiQHhX3a6yVZMcCQ/tlzDseRrJiOIR/O
     chfJ4Xb5GNm34ZuhyLfTgJ4v9QPg6nRZwjqyadsplmobgILolM4QUj+vwmjmbZlN
     oBiN/NUHSsrrjmgvL/GSsYeOs0hMjQXusB6J3mf3Nh90ILM00+BRLQNyaYJH8GDA
     8RpLkhi2kRHKIMHip80Qlakmlp6br6gRRzzvgXjldCR6qRksVioGgeBv0zMabwAw
     cJVAw7VsPGrSF+WptDC2k6Wbl0CaZv4GhQq3SdHw+UMBAo95a0xOdWZrnLBX/h0C
     AwEAAaNTMFEwHQYDVR0OBBYEFOkDZAK1hsUoUxVKmBMM27S8o9JzMB8GA1UdIwQY
     MBaAFOkDZAK1hsUoUxVKmBMM27S8o9JzMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZI
     hvcNAQELBQADggEBADAnC2v3EbXpsL+JbOkOahDHusnkGB33Sy5zXYjgp8LJ+K3U
     z41dGaUXhvT0FTn/kPPF18jQHcQ1FVUfIeb/wgPEuuLX1rTCMgfANUkJOmQQFE2q
     ffhFA8ydPZLKtT7DIMXr1MiovVM0vor3JLyVZYn7T8zy7JP4uotmj6NnlXZwfhWt
     zxDjcyoobhwP0Py8JYmjVjlXagx5DYy4uDO8TM6Mh5cqzz8JinUFY+FRC3pOY+Cp
     lD4mOXbo0DrwvBUyoHpNXECX6ZUbpxN8tbSgTnRuiARadi7pFgWOEVqf8deoqM6E
     7rO7jUI9qBf5jTRn3E3+TE778h/0us/PUdv+lCk=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCtkNjSCyMsh0Rh
      X7/ilxdMQ3L7yDw25oo5CpkfgPqOTYAyI/pHUxrxKwYkB4V92uslWTHAkP7Zcw7H
      kayYjiEfznIXyeF2+RjZt+Gboci304CeL/UD4Op0WcI6smnbKZZqG4CC6JTOEFI/
      r8Jo5m2ZTaAYjfzVB0rK645oLy/xkrGHjrNITI0F7rAeid5n9zYfdCCzNNPgUS0D
      cmmCR/BgwPEaS5IYtpERyiDB4qfNEJWpJpaem6+oEUc874F45XQkeqkZLFYqBoHg
      b9MzGm8AMHCVQMO1bDxq0hflqbQwtpOlm5dAmmb+BoUKt0nR8PlDAQKPeWtMTnVm
      a5ywV/4dAgMBAAECggEAI/4aIHCj0iuY4BKBkcUgVTXVheYPqpjjSBHtEA3op5Ll
      x0ATui+/MgzogJc4tREtWzjkatkGqGRGR9drMdWjg9uFaG56fXgJkbiipeoGXCyV
      ivhJ+IxvQkKM1yxBbGvy370lSMBff13+GGvjxmomhziEPyNOr4SMG4l+phdG+3LG
      2M65fg0Qj4E2cPio/90xmjK5roBKbX6CbStpy1j9iEk8zWzmveriaouduwKOynLW
      IfS8hq9NrRRoVbRRIjtKSilwChKu0NvX4D7zczO51V6gwON5nT6Kxa8XEhttMQTG
      xG/8LrmLnuVlbJpUdRTKQ6ozbtVIhTM4abZx8NFxpwKBgQDoqoCJ8LsD++TKnIPt
      P71uhQn/52sxNoxmCVn2HSb3I0EyEb0/JX7xdB9HIPcU/t3pAa1VeuskIElTrMGD
      AmUee6A6FhbKQdRZCQT5VTfv2FksX49dppsRcaTw2IESG6qCR+nsto/0eF8EowiD
      1d0CSYp1KKvM7v87zo/i7+GLzwKBgQC++P+J3/kpykpIBTMynTnkss+yooRYkra3
      l+mMT6F60AZGs5uqqqCymsZ83W15mhMONptPv63wU+TR/BUwarhroiveyeuIizvf
      9e05uUghHv9u8MF8Mj71Ciachc7JMpfUprzozzIGsUxwYmm+xZtnR5bC4NeOxwad
      6MO5iiY2UwKBgB0fMkWRvybJgaKmopCwmLpbppvEUJNxW3NuGjeHAJiQbhmhRMnB
      nLkGKuARTTvwhsAieJqpbwMvk14I0pPeWd/N44lBuIqKYNTgHyJCO2Um9Epsj5pO
      PzyYt+d5gfZNRjNWYv5A/5W+902yRl+SBj7CC7WMaKyXAZVvzmy+T8HbAoGBALki
      zyislvKqh6SWVfHldnB94Nh+sOrlIHmPrfw2XoefD9aO3IRxceR0I6R9TVorwflv
      etWvL0LjMdtYFHqhmzPNPdZ3zfzLbjpKQbZKJuDlGiBFCm4Kj/oh4xiup69pesPO
      +SiBZTATxdTVs0oca/GN91vpeU+TJpkDRGukwDK9AoGBALKQkQDpY53qmQGIRJOR
      Ivso90IJxOL8W88qrhepXoUA7gANYfScZrRgrXWB0YHaQiunR3Rxfpb9vNTb3Srg
      WKWijOJq2g6YMEODIfmXs6btt4g7oWG2PbbO8+F6NwxhXNwqYWyjuYuVWz+ksXwd
      O9p8V79pGrL7gI3IASgqAAI+
      -----END RSA PRIVATE KEY-----

commands:
  01_enable_nginx_ssl:
    command: "service nginx restart"