
.timer {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 2rem;
    width: auto;
    font-family: var(--font-nav-items);
    color: var(--timer-text);
    font-weight: 700;
    font-size: x-large;

}
