.footer {
    display: flex;
    width: 100%;
    background: var(--radial-bg);
}

.footerInner {
    display: flex;
    padding-inline: 5.25rem;
    padding-block: 0.35rem;
    padding-bottom: 0.5rem;
    width: 100%;
    max-width: 64rem;
    margin-inline: auto;
    font-family: var(--font-mono);
    font-size: x-small;
    gap: 1rem;
}

.guide {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--footer-guide);
}

.tab {
    padding: 8px;
    border: 1px solid light-dark(rgba(128, 128, 128, 0.519), rgba(128, 128, 128, 0.241));
    color: var(--footer-guide);
    background-color: var(--typing-surface);
    border-radius: 4px 8px 4px 8px;
    box-shadow: 2px 2px 1px 0px light-dark(rgba(95, 95, 95, 0.537), rgba(130, 130, 130, 0.209));
}

.click {
    padding: 8px;
    border: 1px solid light-dark(rgba(128, 128, 128, 0.519), rgba(128, 128, 128, 0.241));
    color: var(--footer-guide);
    background-color: var(--typing-surface);
    border-radius: 4px 8px 4px 8px;
    box-shadow: 2px 2px 1px 0px light-dark(rgba(95, 95, 95, 0.537), rgba(130, 130, 130, 0.209));
}